<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $(function () {
    $("#google-place-auto-compete").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/api/get_place",
                dataType: "json",
                data: request.term,
                success: function (data) {
                    response(data);
                }
            });
        }
    });
  });
  </script>
</head>
<body>

{{ form }}

</body>
</html>
